Repository jes3rk/nest-cqrs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

basic booking service
  common/config/rush/pnpm-lock.yaml
  demo/voyager/package.json
  demo/voyager/src/app.module.ts
  demo/voyager/src/hotel/booking/booking.module.ts
  demo/voyager/src/hotel/booking/booking.service.spec.ts
  demo/voyager/src/hotel/booking/booking.service.ts
  demo/voyager/src/hotel/booking/dto/booking.dto.ts
  demo/voyager/src/hotel/booking/entities/booking.entity.ts
  demo/voyager/src/hotel/entities/hotel.entity.ts
  demo/voyager/src/hotel/hotel.module.ts
  docker-compose.yml
Due: eslint --fix, prettier --write

starting voyage creation
  demo/voyager/src/common/interfaces/voyage.interface.ts
  demo/voyager/src/hotel/booking/booking.module.ts
  demo/voyager/src/voyage/exceptions/duplicate-voyage.exception.ts
  demo/voyager/src/voyage/voyage.aggregate.ts
  demo/voyager/src/voyage/voyage.module.ts
  demo/voyager/src/voyage/voyage.service.spec.ts
  demo/voyager/src/voyage/voyage.service.ts
  demo/voyager/src/voyage/voyage.validator.spec.ts
  demo/voyager/src/voyage/voyage.validator.ts
Due: eslint --fix, prettier --write

lifecycle of creating a voyage
  demo/voyager/src/common/events/voyage-created.event.ts
  demo/voyager/src/voyage/dto/create-voyage.input.ts
  demo/voyager/src/voyage/dto/voyage-response.dto.ts
  demo/voyager/src/voyage/entities/voyage-leg.entitiy.ts
  demo/voyager/src/voyage/entities/voyage.entity.ts
  demo/voyager/src/voyage/voyage.aggregate.ts
  demo/voyager/src/voyage/voyage.controller.ts
  demo/voyager/src/voyage/voyage.event.controller.ts
  demo/voyager/src/voyage/voyage.event.service.ts
  demo/voyager/src/voyage/voyage.gateway.ts
  demo/voyager/src/voyage/voyage.module.ts
  demo/voyager/src/voyage/voyage.service.spec.ts
  demo/voyager/src/voyage/voyage.service.ts
  demo/voyager/tests/jest-e2e.config.js
  demo/voyager/tests/voyage.e2e-spec.ts
Due: eslint --fix, prettier --write

update interfaces for multiple messages
  packages/core/src/engine/request.engine.spec.ts
  packages/core/src/engine/request.engine.ts
  packages/core/src/interfaces/publisher.interface.ts
  packages/core/src/publishers/message.publisher.spec.ts
  packages/core/src/publishers/message.publisher.ts
Due: eslint --fix, prettier --write

change behavior of core module to only deal with an array of messages
  packages/core/src/classes/event.client.spec.ts
  packages/core/src/classes/event.client.ts
  packages/core/src/engine/request.engine.spec.ts
  packages/core/src/engine/request.engine.ts
  packages/core/src/exceptions/failed-to-publish-messages.exception.ts
  packages/core/src/publishers/message.publisher.spec.ts
  packages/core/src/publishers/message.publisher.ts
Due: eslint --fix, prettier --write

update eventstoredb publisher
  packages/core/src/index.ts
  packages/eventstoredb/src/eventstore.publisher.ts
Due: eslint --fix, prettier --write

Add changelogs and bump versions
  common/changes/@nest-cqrs/core/feat-versioning_2023-02-14-16-36.json
  common/changes/@nest-cqrs/eventstoredb/feat-versioning_2023-02-14-16-36.json
  packages/core/CHANGELOG.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/eventstoredb/CHANGELOG.json
  packages/eventstoredb/CHANGELOG.md
  packages/eventstoredb/package.json
Due: prettier --write

generate empty changelogs
  common/changes/@nest-cqrs/core/feat-support-publishing-multiple-messages_2023-02-17-16-28.json
  common/changes/@nest-cqrs/eventstoredb/feat-support-publishing-multiple-messages_2023-02-17-16-28.json
Due: prettier --write

Feat/support publishing multiple messages (#10)
  common/changes/@nest-cqrs/core/feat-support-publishing-multiple-messages_2023-02-17-16-28.json
  common/changes/@nest-cqrs/eventstoredb/feat-support-publishing-multiple-messages_2023-02-17-16-28.json
  packages/core/CHANGELOG.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/core/src/classes/event.client.spec.ts
  packages/core/src/classes/event.client.ts
  packages/core/src/engine/request.engine.spec.ts
  packages/core/src/engine/request.engine.ts
  packages/core/src/exceptions/failed-to-publish-messages.exception.ts
  packages/core/src/index.ts
  packages/core/src/interfaces/publisher.interface.ts
  packages/core/src/publishers/message.publisher.spec.ts
  packages/core/src/publishers/message.publisher.ts
  packages/eventstoredb/CHANGELOG.json
  packages/eventstoredb/CHANGELOG.md
  packages/eventstoredb/package.json
  packages/eventstoredb/src/eventstore.publisher.ts
Due: eslint --fix, prettier --write

add root readme
  README.md
Due: prettier --write

basic core documentation
  packages/core/README.md
Due: prettier --write

add documentation for the core module
  packages/core/src/classes/aggregate.root.ts
  packages/core/src/classes/event.builder.ts
  packages/core/src/decorators/cqrs-filter.decorator.ts
  packages/core/src/decorators/pre-process-middleware.decorator.ts
  packages/core/src/decorators/pre-publish-middleware.decorator.ts
  packages/core/src/factories/aggregate.factory.ts
  packages/core/src/factories/event-builder.factory.ts
  packages/core/src/interfaces/event-configuration.interface.ts
  packages/core/src/interfaces/module.config.ts
Due: eslint --fix, prettier --write

add changelog
  common/changes/@nest-cqrs/core/feat-documentation_2023-02-19-17-08.json
Due: prettier --write

specify node version
  .github/workflows/pr.yml
Due: none

prefer existing message metadata to request metadata
  packages/core/src/middleware/request-metadata.middleware.ts
Due: eslint --fix, prettier --write

make ingest processing immutable
  packages/core/src/engine/ingest-controller.engine.ts
  packages/core/src/engine/request.engine.ts
Due: eslint --fix, prettier --write

make client header an exportable constant
  packages/core/src/classes/metadata.interceptor.ts
  packages/core/src/cqrs.constants.ts
  packages/core/src/index.ts
Due: eslint --fix, prettier --write

fix node-version
  .github/workflows/pr.yml
Due: none

Feat/documentation (#11)
  .github/workflows/pr.yml
  README.md
  common/changes/@nest-cqrs/core/feat-documentation_2023-02-19-17-08.json
  packages/core/README.md
  packages/core/src/classes/aggregate.root.ts
  packages/core/src/classes/event.builder.ts
  packages/core/src/decorators/cqrs-filter.decorator.ts
  packages/core/src/decorators/pre-process-middleware.decorator.ts
  packages/core/src/decorators/pre-publish-middleware.decorator.ts
  packages/core/src/factories/aggregate.factory.ts
  packages/core/src/factories/event-builder.factory.ts
  packages/core/src/interfaces/event-configuration.interface.ts
  packages/core/src/interfaces/module.config.ts
Due: eslint --fix, prettier --write

add changelogs and bump version
  common/changes/@nest-cqrs/core/feat-documentation_2023-02-19-17-08.json
  common/changes/@nest-cqrs/core/feat-support-publishing-multiple-messages_2023-02-17-16-28.json
  packages/core/CHANGELOG.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: prettier --write

add blank changelog
  common/changes/@nest-cqrs/core/chore-little-tweaks_2023-02-19-17-24.json
Due: prettier --write

fix ci
  .github/workflows/pr.yml
Due: none

Chore/little tweaks (#12)
  .github/workflows/pr.yml
  common/changes/@nest-cqrs/core/chore-little-tweaks_2023-02-19-17-24.json
  common/changes/@nest-cqrs/core/feat-documentation_2023-02-19-17-08.json
  packages/core/CHANGELOG.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/core/src/classes/metadata.interceptor.ts
  packages/core/src/cqrs.constants.ts
  packages/core/src/engine/ingest-controller.engine.ts
  packages/core/src/engine/request.engine.ts
  packages/core/src/index.ts
  packages/core/src/middleware/request-metadata.middleware.ts
Due: eslint --fix, prettier --write

upgrade dependencies
  common/config/rush/pnpm-lock.yaml
  demo/monolith/package.json
  packages/class-transformer-storage/package.json
  packages/core/package.json
  packages/eventstoredb/package.json
  packages/messenger/package.json
  packages/testing/package.json
Due: prettier --write

create changelogs and apply
  common/changes/@nest-cqrs/core/chore-little-tweaks_2023-02-19-17-24.json
  common/changes/@nest-cqrs/eventstoredb/feat-support-publishing-multiple-messages_2023-02-17-16-28.json
  common/changes/@nest-cqrs/testing/chore-pre-release_2023-01-30-12-23.json
  common/changes/class-transformer-storage/chore-pre-release_2023-01-30-12-23.json
  common/changes/nest-messenger/chore-pre-release_2023-01-30-12-23.json
  packages/class-transformer-storage/CHANGELOG.json
  packages/class-transformer-storage/CHANGELOG.md
  packages/class-transformer-storage/package.json
  packages/core/CHANGELOG.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/eventstoredb/CHANGELOG.json
  packages/eventstoredb/CHANGELOG.md
  packages/eventstoredb/package.json
  packages/messenger/CHANGELOG.json
  packages/messenger/CHANGELOG.md
  packages/messenger/package.json
  packages/testing/CHANGELOG.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
Due: prettier --write

blank changelogs
  common/changes/@nest-cqrs/core/chore-deps-2023-02-19_2023-02-19-17-38.json
  common/changes/@nest-cqrs/eventstoredb/chore-deps-2023-02-19_2023-02-19-17-38.json
  common/changes/@nest-cqrs/testing/chore-deps-2023-02-19_2023-02-19-17-38.json
  common/changes/class-transformer-storage/chore-deps-2023-02-19_2023-02-19-17-38.json
  common/changes/nest-messenger/chore-deps-2023-02-19_2023-02-19-17-38.json
Due: prettier --write

Chore/deps 2023 02 19 (#13)
  common/changes/@nest-cqrs/core/chore-deps-2023-02-19_2023-02-19-17-38.json
  common/changes/@nest-cqrs/eventstoredb/chore-deps-2023-02-19_2023-02-19-17-38.json
  common/changes/@nest-cqrs/testing/chore-deps-2023-02-19_2023-02-19-17-38.json
  common/changes/class-transformer-storage/chore-deps-2023-02-19_2023-02-19-17-38.json
  common/changes/nest-messenger/chore-deps-2023-02-19_2023-02-19-17-38.json
  common/config/rush/pnpm-lock.yaml
  demo/monolith/package.json
  packages/class-transformer-storage/CHANGELOG.json
  packages/class-transformer-storage/CHANGELOG.md
  packages/class-transformer-storage/package.json
  packages/core/CHANGELOG.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/eventstoredb/CHANGELOG.json
  packages/eventstoredb/CHANGELOG.md
  packages/eventstoredb/package.json
  packages/messenger/CHANGELOG.json
  packages/messenger/CHANGELOG.md
  packages/messenger/package.json
  packages/testing/CHANGELOG.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
Due: prettier --write

upgrade dependencies
  common/config/rush/pnpm-lock.yaml
  demo/voyager/package.json
Due: prettier --write

add voyager to ci
  .github/workflows/pr.yml
Due: none

Demo/add voyager app (#14)
  .github/workflows/pr.yml
  common/config/rush/pnpm-lock.yaml
  demo/voyager/package.json
  demo/voyager/src/app.controller.ts
  demo/voyager/src/app.module.ts
  demo/voyager/src/common/events/voyage-created.event.ts
  demo/voyager/src/common/interfaces/hotel-booking.interface.ts
  demo/voyager/src/common/interfaces/voyage.interface.ts
  demo/voyager/src/hotel/booking/booking.module.ts
  demo/voyager/src/hotel/booking/booking.service.spec.ts
  demo/voyager/src/hotel/booking/booking.service.ts
  demo/voyager/src/hotel/booking/dto/book-room-for-days.input.ts
  demo/voyager/src/hotel/booking/dto/booking.dto.ts
  demo/voyager/src/hotel/booking/entities/booking.entity.ts
  demo/voyager/src/hotel/entities/hotel.entity.ts
  demo/voyager/src/hotel/hotel.module.ts
  demo/voyager/src/main.ts
  demo/voyager/src/voyage/dto/create-voyage.input.ts
  demo/voyager/src/voyage/dto/voyage-response.dto.ts
  demo/voyager/src/voyage/entities/voyage-leg.entitiy.ts
  demo/voyager/src/voyage/entities/voyage.entity.ts
  demo/voyager/src/voyage/exceptions/duplicate-voyage.exception.ts
  demo/voyager/src/voyage/voyage.aggregate.ts
  demo/voyager/src/voyage/voyage.controller.ts
  demo/voyager/src/voyage/voyage.event.controller.ts
  demo/voyager/src/voyage/voyage.event.service.ts
  demo/voyager/src/voyage/voyage.gateway.ts
  demo/voyager/src/voyage/voyage.module.ts
  demo/voyager/src/voyage/voyage.service.spec.ts
  demo/voyager/src/voyage/voyage.service.ts
  demo/voyager/src/voyage/voyage.validator.spec.ts
  demo/voyager/src/voyage/voyage.validator.ts
  demo/voyager/tests/app.e2e-spec.ts
  demo/voyager/tests/jest-e2e.config.js
  demo/voyager/tests/utilities/ws.client.ts
  demo/voyager/tests/voyage.e2e-spec.ts
  demo/voyager/tsconfig.build.json
  demo/voyager/tsconfig.json
  docker-compose.yml
  rush.json
Due: eslint --fix, prettier --write

init workflow package
  common/config/rush/pnpm-lock.yaml
  packages/workflow/.npmignore
  packages/workflow/LICENSE
  packages/workflow/package.json
  packages/workflow/src/index.ts
  packages/workflow/tsconfig.build.json
  packages/workflow/tsconfig.json
  rush.json
Due: eslint --fix, prettier --write

update exports
  packages/core/src/index.ts
Due: eslint --fix, prettier --write

upgrade dependencies
  common/config/rush/pnpm-lock.yaml
  demo/monolith/package.json
  demo/voyager/package.json
  packages/class-transformer-storage/package.json
  packages/core/package.json
  packages/eventstoredb/package.json
  packages/messenger/package.json
  packages/testing/package.json
Due: prettier --write

version
  common/changes/@nest-cqrs/core/fix-export-middleware-tools_2023-03-20-17-00.json
  common/changes/@nest-cqrs/eventstoredb/fix-export-middleware-tools_2023-03-20-17-00.json
  common/changes/@nest-cqrs/testing/fix-export-middleware-tools_2023-03-20-17-00.json
  common/changes/class-transformer-storage/fix-export-middleware-tools_2023-03-20-17-00.json
  common/changes/nest-messenger/fix-export-middleware-tools_2023-03-20-17-00.json
  packages/class-transformer-storage/CHANGELOG.json
  packages/class-transformer-storage/CHANGELOG.md
  packages/class-transformer-storage/package.json
  packages/core/CHANGELOG.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/eventstoredb/CHANGELOG.json
  packages/eventstoredb/CHANGELOG.md
  packages/eventstoredb/package.json
  packages/messenger/CHANGELOG.json
  packages/messenger/CHANGELOG.md
  packages/messenger/package.json
  packages/testing/CHANGELOG.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
Due: prettier --write

fix/export middleware (#15)
  common/changes/@nest-cqrs/core/fix-export-middleware-tools_2023-03-20-17-00.json
  common/changes/@nest-cqrs/eventstoredb/fix-export-middleware-tools_2023-03-20-17-00.json
  common/changes/@nest-cqrs/testing/fix-export-middleware-tools_2023-03-20-17-00.json
  common/changes/class-transformer-storage/fix-export-middleware-tools_2023-03-20-17-00.json
  common/changes/nest-messenger/fix-export-middleware-tools_2023-03-20-17-00.json
  common/config/rush/pnpm-lock.yaml
  demo/monolith/package.json
  demo/voyager/package.json
  packages/class-transformer-storage/CHANGELOG.json
  packages/class-transformer-storage/CHANGELOG.md
  packages/class-transformer-storage/package.json
  packages/core/CHANGELOG.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/core/src/index.ts
  packages/eventstoredb/CHANGELOG.json
  packages/eventstoredb/CHANGELOG.md
  packages/eventstoredb/package.json
  packages/messenger/CHANGELOG.json
  packages/messenger/CHANGELOG.md
  packages/messenger/package.json
  packages/testing/CHANGELOG.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
Due: eslint --fix, prettier --write

add filter export
  packages/core/src/index.ts
Due: eslint --fix, prettier --write

version
  common/changes/@nest-cqrs/core/fix-add-filter-export_2023-03-20-17-10.json
  packages/core/CHANGELOG.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: prettier --write

Fix/add filter export (#16)
  common/changes/@nest-cqrs/core/fix-add-filter-export_2023-03-20-17-10.json
  packages/core/CHANGELOG.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/core/src/index.ts
Due: eslint --fix, prettier --write

feat: change how subscription factories work
  packages/core/src/cqrs.constants.ts
  packages/core/src/cqrs.module.ts
  packages/core/src/factories/subscriber.factory.spec.ts
  packages/core/src/factories/subscriber.factory.ts
  packages/core/src/index.ts
Due: eslint --fix, prettier --write

update eventstoredb and cleanup core
  demo/monolith/src/accounting/accounting.gateway.ts
  packages/core/src/cqrs.module.ts
  packages/core/src/factories/subscriber.factory.ts
  packages/core/src/interfaces/event-listener-factory.interface.ts
  packages/eventstoredb/src/event-listener.factory.ts
  packages/eventstoredb/src/eventstore.listener.ts
  packages/eventstoredb/src/index.ts
  packages/eventstoredb/src/transient-listener.factory.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,md,json}
