Repository jes3rk/nest-cqrs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

mark inject subscriber factory decorator as deprecated
  packages/core/src/decorators/inject-subscriber-factory.decorator.ts
Due: eslint --fix, prettier --write

apply changelogs and bump version
  common/changes/@nest-cqrs/core/feat-better-subscription-factories_2023-03-30-13-57.json
  common/changes/@nest-cqrs/eventstoredb/feat-better-subscription-factories_2023-03-30-13-57.json
  packages/core/CHANGELOG.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/eventstoredb/CHANGELOG.json
  packages/eventstoredb/CHANGELOG.md
  packages/eventstoredb/package.json
Due: prettier --write

fix voyager ci
  demo/voyager/src/voyage/voyage.gateway.ts
Due: eslint --fix, prettier --write

Feat/better subscription factories (#17)
  common/changes/@nest-cqrs/core/feat-better-subscription-factories_2023-03-30-13-57.json
  common/changes/@nest-cqrs/eventstoredb/feat-better-subscription-factories_2023-03-30-13-57.json
  demo/monolith/src/accounting/accounting.gateway.ts
  demo/voyager/src/voyage/voyage.gateway.ts
  packages/core/CHANGELOG.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/core/src/cqrs.constants.ts
  packages/core/src/cqrs.module.ts
  packages/core/src/decorators/inject-subscriber-factory.decorator.ts
  packages/core/src/factories/subscriber.factory.spec.ts
  packages/core/src/factories/subscriber.factory.ts
  packages/core/src/index.ts
  packages/core/src/interfaces/event-listener-factory.interface.ts
  packages/eventstoredb/CHANGELOG.json
  packages/eventstoredb/CHANGELOG.md
  packages/eventstoredb/package.json
  packages/eventstoredb/src/event-listener.factory.ts
  packages/eventstoredb/src/eventstore.listener.ts
  packages/eventstoredb/src/index.ts
  packages/eventstoredb/src/transient-listener.factory.ts
Due: eslint --fix, prettier --write

feat: initial package setup
  common/config/rush/pnpm-lock.yaml
  packages/nats/.npmignore
  packages/nats/LICENSE
  packages/nats/package.json
  packages/nats/src/index.ts
  packages/nats/tsconfig.build.json
  packages/nats/tsconfig.json
  rush.json
Due: eslint --fix, prettier --write

inital client setup and demo app setup
  demo/monolith/package.json
  demo/monolith/src/app.module.ts
  docker-compose.yml
  packages/nats/src/constants.ts
  packages/nats/src/index.ts
  packages/nats/src/interfaces/nats.config.ts
  packages/nats/src/nats.client.ts
Due: eslint --fix, prettier --write

demo tests pass
  demo/monolith/tests/account.e2e-spec.ts
  packages/nats/src/constants.ts
  packages/nats/src/index.ts
  packages/nats/src/nats-listener.factory.ts
  packages/nats/src/nats.client.ts
  packages/nats/src/nats.listener.ts
  packages/nats/src/nats.publisher.ts
  packages/nats/src/nats.reader.ts
  packages/nats/src/transient-subscription.factory.ts
Due: eslint --fix, prettier --write

setup ci and releases
  .github/workflows/pr.yml
  common/changes/@nest-cqrs/nats/feat-nats_2023-04-06-15-03.json
  demo/voyager/package.json
  demo/voyager/src/app.module.ts
  packages/nats/CHANGELOG.json
  packages/nats/CHANGELOG.md
  packages/nats/package.json
Due: eslint --fix, prettier --write

fix tests
  packages/nats/package.json
Due: prettier --write

fix ci
  .github/workflows/pr.yml
Due: none

Update pr.yml
  .github/workflows/pr.yml
Due: none

update ci
  .github/workflows/pr.yml
Due: none

fix versions
  demo/monolith/package.json
  demo/voyager/package.json
Due: prettier --write

fix nats version
  demo/monolith/package.json
Due: prettier --write

migrate to docker compose
  .github/workflows/pr.yml
Due: none

improved nats handling with more than one stream
  .github/workflows/pr.yml
  docker-compose.yml
  packages/nats/src/index.ts
  packages/nats/src/nats.client.ts
  packages/nats/src/nats.listener.ts
  packages/nats/src/nats.publisher.ts
  packages/nats/src/nats.reader.ts
  packages/nats/src/stream-manager.ts
  packages/nats/src/transient-subscription.factory.ts
Due: eslint --fix, prettier --write

Feat/nats (#18)
  .github/workflows/pr.yml
  common/changes/@nest-cqrs/nats/feat-nats_2023-04-06-15-03.json
  common/config/rush/pnpm-lock.yaml
  demo/monolith/package.json
  demo/monolith/src/app.module.ts
  demo/monolith/tests/account.e2e-spec.ts
  demo/voyager/package.json
  demo/voyager/src/app.module.ts
  docker-compose.yml
  packages/nats/.npmignore
  packages/nats/CHANGELOG.json
  packages/nats/CHANGELOG.md
  packages/nats/LICENSE
  packages/nats/package.json
  packages/nats/src/constants.ts
  packages/nats/src/index.ts
  packages/nats/src/interfaces/nats.config.ts
  packages/nats/src/nats-listener.factory.ts
  packages/nats/src/nats.client.ts
  packages/nats/src/nats.listener.ts
  packages/nats/src/nats.publisher.ts
  packages/nats/src/nats.reader.ts
  packages/nats/src/stream-manager.ts
  packages/nats/src/transient-subscription.factory.ts
  packages/nats/tsconfig.build.json
  packages/nats/tsconfig.json
  rush.json
Due: eslint --fix, prettier --write

upgrade linting and hooks
  .lintstagedrc
  common/autoinstallers/lint-staged/package.json
  common/autoinstallers/lint-staged/pnpm-lock.yaml
Due: prettier --write

update dependencies
  common/config/rush/pnpm-lock.yaml
  demo/monolith/package.json
  demo/voyager/package.json
  packages/class-transformer-storage/package.json
  packages/core/package.json
  packages/eventstoredb/package.json
  packages/messenger/package.json
  packages/nats/package.json
  packages/testing/package.json
Due: prettier --write

increment versions
  common/changes/@nest-cqrs/core/chore-2023-04-07-deps_2023-04-07-13-39.json
  common/changes/@nest-cqrs/eventstoredb/chore-2023-04-07-deps_2023-04-07-13-39.json
  common/changes/@nest-cqrs/nats/chore-2023-04-07-deps_2023-04-07-13-39.json
  common/changes/@nest-cqrs/testing/chore-2023-04-07-deps_2023-04-07-13-39.json
  common/changes/class-transformer-storage/chore-2023-04-07-deps_2023-04-07-13-39.json
  common/changes/nest-messenger/chore-2023-04-07-deps_2023-04-07-13-39.json
  demo/monolith/package.json
  demo/voyager/package.json
  packages/class-transformer-storage/CHANGELOG.json
  packages/class-transformer-storage/CHANGELOG.md
  packages/class-transformer-storage/package.json
  packages/core/CHANGELOG.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/eventstoredb/CHANGELOG.json
  packages/eventstoredb/CHANGELOG.md
  packages/eventstoredb/package.json
  packages/messenger/CHANGELOG.json
  packages/messenger/CHANGELOG.md
  packages/messenger/package.json
  packages/nats/CHANGELOG.json
  packages/nats/CHANGELOG.md
  packages/nats/package.json
  packages/testing/CHANGELOG.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
Due: prettier --write

Chore/2023 04 07 deps (#19)
  .lintstagedrc
  common/autoinstallers/lint-staged/package.json
  common/autoinstallers/lint-staged/pnpm-lock.yaml
  common/changes/@nest-cqrs/core/chore-2023-04-07-deps_2023-04-07-13-39.json
  common/changes/@nest-cqrs/eventstoredb/chore-2023-04-07-deps_2023-04-07-13-39.json
  common/changes/@nest-cqrs/nats/chore-2023-04-07-deps_2023-04-07-13-39.json
  common/changes/@nest-cqrs/testing/chore-2023-04-07-deps_2023-04-07-13-39.json
  common/changes/class-transformer-storage/chore-2023-04-07-deps_2023-04-07-13-39.json
  common/changes/nest-messenger/chore-2023-04-07-deps_2023-04-07-13-39.json
  common/config/rush/pnpm-lock.yaml
  demo/monolith/package.json
  demo/voyager/package.json
  packages/class-transformer-storage/CHANGELOG.json
  packages/class-transformer-storage/CHANGELOG.md
  packages/class-transformer-storage/package.json
  packages/core/CHANGELOG.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/eventstoredb/CHANGELOG.json
  packages/eventstoredb/CHANGELOG.md
  packages/eventstoredb/package.json
  packages/messenger/CHANGELOG.json
  packages/messenger/CHANGELOG.md
  packages/messenger/package.json
  packages/nats/CHANGELOG.json
  packages/nats/CHANGELOG.md
  packages/nats/package.json
  packages/testing/CHANGELOG.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
Due: prettier --write

upgrade dependencies
  common/config/rush/pnpm-lock.yaml
  demo/monolith/package.json
  demo/voyager/package.json
  packages/class-transformer-storage/package.json
  packages/core/package.json
  packages/eventstoredb/package.json
  packages/messenger/package.json
  packages/nats/package.json
  packages/testing/package.json
Due: prettier --write

apply changelogs
  common/changes/@nest-cqrs/core/chore-16-4-2023-deps_2023-04-16-12-32.json
  common/changes/@nest-cqrs/eventstoredb/chore-16-4-2023-deps_2023-04-16-12-32.json
  common/changes/@nest-cqrs/nats/chore-16-4-2023-deps_2023-04-16-12-32.json
  common/changes/@nest-cqrs/testing/chore-16-4-2023-deps_2023-04-16-12-32.json
  common/changes/class-transformer-storage/chore-16-4-2023-deps_2023-04-16-12-32.json
  common/changes/nest-messenger/chore-16-4-2023-deps_2023-04-16-12-32.json
  demo/monolith/package.json
  demo/voyager/package.json
  packages/class-transformer-storage/CHANGELOG.json
  packages/class-transformer-storage/CHANGELOG.md
  packages/class-transformer-storage/package.json
  packages/core/CHANGELOG.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/eventstoredb/CHANGELOG.json
  packages/eventstoredb/CHANGELOG.md
  packages/eventstoredb/package.json
  packages/messenger/CHANGELOG.json
  packages/messenger/CHANGELOG.md
  packages/messenger/package.json
  packages/nats/CHANGELOG.json
  packages/nats/CHANGELOG.md
  packages/nats/package.json
  packages/testing/CHANGELOG.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
Due: prettier --write

Chore/16 4 2023 deps (#20)
  common/changes/@nest-cqrs/core/chore-16-4-2023-deps_2023-04-16-12-32.json
  common/changes/@nest-cqrs/eventstoredb/chore-16-4-2023-deps_2023-04-16-12-32.json
  common/changes/@nest-cqrs/nats/chore-16-4-2023-deps_2023-04-16-12-32.json
  common/changes/@nest-cqrs/testing/chore-16-4-2023-deps_2023-04-16-12-32.json
  common/changes/class-transformer-storage/chore-16-4-2023-deps_2023-04-16-12-32.json
  common/changes/nest-messenger/chore-16-4-2023-deps_2023-04-16-12-32.json
  common/config/rush/pnpm-lock.yaml
  demo/monolith/package.json
  demo/voyager/package.json
  packages/class-transformer-storage/CHANGELOG.json
  packages/class-transformer-storage/CHANGELOG.md
  packages/class-transformer-storage/package.json
  packages/core/CHANGELOG.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/eventstoredb/CHANGELOG.json
  packages/eventstoredb/CHANGELOG.md
  packages/eventstoredb/package.json
  packages/messenger/CHANGELOG.json
  packages/messenger/CHANGELOG.md
  packages/messenger/package.json
  packages/nats/CHANGELOG.json
  packages/nats/CHANGELOG.md
  packages/nats/package.json
  packages/testing/CHANGELOG.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
Due: prettier --write

make and apply changelogs
  common/changes/@nest-cqrs/core/chore-deps-2023-05-08_2023-05-08-14-38.json
  common/changes/@nest-cqrs/eventstoredb/chore-deps-2023-05-08_2023-05-08-14-38.json
  common/changes/@nest-cqrs/nats/chore-deps-2023-05-08_2023-05-08-14-38.json
  common/changes/@nest-cqrs/testing/chore-deps-2023-05-08_2023-05-08-14-38.json
  common/changes/class-transformer-storage/chore-deps-2023-05-08_2023-05-08-14-38.json
  common/changes/nest-messenger/chore-deps-2023-05-08_2023-05-08-14-38.json
  demo/monolith/package.json
  demo/voyager/package.json
  packages/class-transformer-storage/CHANGELOG.json
  packages/class-transformer-storage/CHANGELOG.md
  packages/class-transformer-storage/package.json
  packages/core/CHANGELOG.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/eventstoredb/CHANGELOG.json
  packages/eventstoredb/CHANGELOG.md
  packages/eventstoredb/package.json
  packages/messenger/CHANGELOG.json
  packages/messenger/CHANGELOG.md
  packages/messenger/package.json
  packages/nats/CHANGELOG.json
  packages/nats/CHANGELOG.md
  packages/nats/package.json
  packages/testing/CHANGELOG.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
Due: prettier --write

Chore/deps 2023 05 08 (#21)
  common/changes/@nest-cqrs/core/chore-deps-2023-05-08_2023-05-08-14-38.json
  common/changes/@nest-cqrs/eventstoredb/chore-deps-2023-05-08_2023-05-08-14-38.json
  common/changes/@nest-cqrs/nats/chore-deps-2023-05-08_2023-05-08-14-38.json
  common/changes/@nest-cqrs/testing/chore-deps-2023-05-08_2023-05-08-14-38.json
  common/changes/class-transformer-storage/chore-deps-2023-05-08_2023-05-08-14-38.json
  common/changes/nest-messenger/chore-deps-2023-05-08_2023-05-08-14-38.json
  common/config/rush/pnpm-lock.yaml
  demo/monolith/package.json
  demo/voyager/package.json
  packages/class-transformer-storage/CHANGELOG.json
  packages/class-transformer-storage/CHANGELOG.md
  packages/class-transformer-storage/package.json
  packages/core/CHANGELOG.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/eventstoredb/CHANGELOG.json
  packages/eventstoredb/CHANGELOG.md
  packages/eventstoredb/package.json
  packages/messenger/CHANGELOG.json
  packages/messenger/CHANGELOG.md
  packages/messenger/package.json
  packages/nats/CHANGELOG.json
  packages/nats/CHANGELOG.md
  packages/nats/package.json
  packages/testing/CHANGELOG.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
Due: prettier --write

Upgrade dependencies
  common/config/rush/pnpm-lock.yaml
  demo/monolith/package.json
  demo/voyager/package.json
  packages/class-transformer-storage/package.json
  packages/core/package.json
  packages/eventstoredb/package.json
  packages/messenger/package.json
  packages/nats/package.json
  packages/testing/package.json
Due: prettier --write

create and apply version changes
  common/changes/@nest-cqrs/core/main_2023-06-01-21-01.json
  common/changes/@nest-cqrs/eventstoredb/main_2023-06-01-21-01.json
  common/changes/@nest-cqrs/nats/main_2023-06-01-21-01.json
  common/changes/@nest-cqrs/testing/main_2023-06-01-21-01.json
  common/changes/class-transformer-storage/main_2023-06-01-21-01.json
  common/changes/nest-messenger/main_2023-06-01-21-01.json
  demo/monolith/package.json
  demo/voyager/package.json
  packages/class-transformer-storage/CHANGELOG.json
  packages/class-transformer-storage/CHANGELOG.md
  packages/class-transformer-storage/package.json
  packages/core/CHANGELOG.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/eventstoredb/CHANGELOG.json
  packages/eventstoredb/CHANGELOG.md
  packages/eventstoredb/package.json
  packages/messenger/CHANGELOG.json
  packages/messenger/CHANGELOG.md
  packages/messenger/package.json
  packages/nats/CHANGELOG.json
  packages/nats/CHANGELOG.md
  packages/nats/package.json
  packages/testing/CHANGELOG.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,md,json}
