Repository jes3rk/nest-cqrs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Setup license and npmignore
  packages/class-transformer-storage/.npmignore
  packages/core/.npmignore
  packages/core/LICENSE
  packages/eventstoredb/.npmignore
  packages/eventstoredb/LICENSE
  packages/testing/.npmignore
  packages/testing/LICENSE
Due: none

changelogs and version
  packages/class-transformer-storage/CHANGELOG.json
  packages/class-transformer-storage/CHANGELOG.md
  packages/class-transformer-storage/package.json
  packages/core/CHANGELOG.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/eventstoredb/CHANGELOG.json
  packages/eventstoredb/CHANGELOG.md
  packages/eventstoredb/package.json
  packages/messenger/CHANGELOG.json
  packages/messenger/CHANGELOG.md
  packages/messenger/package.json
  packages/testing/CHANGELOG.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  rush.json
Due: prettier --write

Create CODEOWNERS
  .github/workflows/CODEOWNERS
Due: none

package and publish done
  common/changes/@nest-cqrs/core/chore-pre-release_2023-01-30-12-23.json
  common/changes/@nest-cqrs/eventstoredb/chore-pre-release_2023-01-30-12-23.json
  common/changes/@nest-cqrs/testing/chore-pre-release_2023-01-30-12-23.json
  common/changes/class-transformer-storage/chore-pre-release_2023-01-30-12-23.json
  common/changes/nest-messenger/chore-pre-release_2023-01-30-12-23.json
  packages/class-transformer-storage/package.json
  packages/core/_tmp_6589_dc2b51751fcba2f454ba949fd86e2f44
  packages/core/_tmp_6816_429dc2150835572a2ac0be98fae60e65
  packages/core/_tmp_6888_f713343c94a1d357c3a8f838badf8800
  packages/core/_tmp_7118_cec931f6065b08a30cb601e0d1ec7335
  packages/core/_tmp_7305_36363a93116c7dd2606611c109611bc1
  packages/core/_tmp_7425_677c2c841af8baa8dbcd4269309eb80a
  packages/core/package.json
  packages/eventstoredb/package.json
  packages/messenger/package.json
  packages/testing/package.json
Due: prettier --write

setup actions
  .github/workflows/pr.yml
Due: none

fix github actions
  .github/workflows/pr.yml
Due: none

fix tests and eventstoredb behavior
  common/changes/@nest-cqrs/eventstoredb/chore-pre-release_2023-01-30-13-24.json
  demo/monolith/src/accounting/accounting.write.service.spec.ts
  demo/monolith/src/accounting/aggregates/account.aggregate.spec.ts
  packages/eventstoredb/src/eventstore.listener.ts
Due: eslint --fix, prettier --write

Chore/pre release (#4)
  .github/workflows/pr.yml
  common/changes/@nest-cqrs/core/chore-pre-release_2023-01-30-12-23.json
  common/changes/@nest-cqrs/eventstoredb/chore-pre-release_2023-01-30-12-23.json
  common/changes/@nest-cqrs/eventstoredb/chore-pre-release_2023-01-30-13-24.json
  common/changes/@nest-cqrs/testing/chore-pre-release_2023-01-30-12-23.json
  common/changes/class-transformer-storage/chore-pre-release_2023-01-30-12-23.json
  common/changes/nest-messenger/chore-pre-release_2023-01-30-12-23.json
  demo/monolith/src/accounting/accounting.write.service.spec.ts
  demo/monolith/src/accounting/aggregates/account.aggregate.spec.ts
  packages/class-transformer-storage/.npmignore
  packages/class-transformer-storage/CHANGELOG.json
  packages/class-transformer-storage/CHANGELOG.md
  packages/class-transformer-storage/package.json
  packages/core/.npmignore
  packages/core/CHANGELOG.json
  packages/core/CHANGELOG.md
  packages/core/LICENSE
  packages/core/_tmp_6589_dc2b51751fcba2f454ba949fd86e2f44
  packages/core/_tmp_6816_429dc2150835572a2ac0be98fae60e65
  packages/core/_tmp_6888_f713343c94a1d357c3a8f838badf8800
  packages/core/_tmp_7118_cec931f6065b08a30cb601e0d1ec7335
  packages/core/_tmp_7305_36363a93116c7dd2606611c109611bc1
  packages/core/_tmp_7425_677c2c841af8baa8dbcd4269309eb80a
  packages/core/package.json
  packages/eventstoredb/.npmignore
  packages/eventstoredb/CHANGELOG.json
  packages/eventstoredb/CHANGELOG.md
  packages/eventstoredb/LICENSE
  packages/eventstoredb/package.json
  packages/eventstoredb/src/eventstore.listener.ts
  packages/messenger/CHANGELOG.json
  packages/messenger/CHANGELOG.md
  packages/messenger/package.json
  packages/testing/.npmignore
  packages/testing/CHANGELOG.json
  packages/testing/CHANGELOG.md
  packages/testing/LICENSE
  packages/testing/package.json
  rush.json
Due: eslint --fix, prettier --write

cleanup temp files and remove redundant ci step
  .github/workflows/pr.yml
  packages/core/_tmp_6589_dc2b51751fcba2f454ba949fd86e2f44
  packages/core/_tmp_6816_429dc2150835572a2ac0be98fae60e65
  packages/core/_tmp_6888_f713343c94a1d357c3a8f838badf8800
  packages/core/_tmp_7118_cec931f6065b08a30cb601e0d1ec7335
  packages/core/_tmp_7305_36363a93116c7dd2606611c109611bc1
  packages/core/_tmp_7425_677c2c841af8baa8dbcd4269309eb80a
Due: none

apply changelogs
  common/changes/@nest-cqrs/eventstoredb/chore-pre-release_2023-01-30-12-23.json
  common/changes/@nest-cqrs/eventstoredb/chore-pre-release_2023-01-30-13-24.json
  packages/eventstoredb/CHANGELOG.json
  packages/eventstoredb/CHANGELOG.md
  packages/eventstoredb/package.json
Due: prettier --write

cleanup changelogs
  common/changes/@nest-cqrs/core/chore-post-release_2023-01-30-13-41.json
  common/changes/@nest-cqrs/eventstoredb/chore-post-release_2023-01-30-13-41.json
Due: prettier --write

fix ci
  .github/workflows/pr.yml
Due: none

Chore/post release (#5)
  .github/workflows/pr.yml
  common/changes/@nest-cqrs/core/chore-post-release_2023-01-30-13-41.json
  common/changes/@nest-cqrs/eventstoredb/chore-post-release_2023-01-30-13-41.json
  common/changes/@nest-cqrs/eventstoredb/chore-pre-release_2023-01-30-13-24.json
  packages/core/_tmp_6589_dc2b51751fcba2f454ba949fd86e2f44
  packages/core/_tmp_6816_429dc2150835572a2ac0be98fae60e65
  packages/core/_tmp_6888_f713343c94a1d357c3a8f838badf8800
  packages/core/_tmp_7118_cec931f6065b08a30cb601e0d1ec7335
  packages/core/_tmp_7305_36363a93116c7dd2606611c109611bc1
  packages/core/_tmp_7425_677c2c841af8baa8dbcd4269309eb80a
  packages/eventstoredb/CHANGELOG.json
  packages/eventstoredb/CHANGELOG.md
  packages/eventstoredb/package.json
Due: prettier --write

fix publish build
  .github/workflows/pr.yml
Due: none

add method for generating event builder from components
  packages/core/src/cqrs.utilites.ts
  packages/core/src/cqrs.utilities.spec.ts
  packages/core/src/factories/event-builder.factory.spec.ts
  packages/core/src/factories/event-builder.factory.ts
Due: eslint --fix, prettier --write

change var name
  packages/core/src/factories/event-builder.factory.ts
Due: eslint --fix, prettier --write

add changelog to git
  common/changes/@nest-cqrs/core/feat-upgrade-event-builder-factory_2023-01-30-15-59.json
Due: prettier --write

fix demo tests
  demo/monolith/src/accounting/accounting.write.service.ts
Due: eslint --fix, prettier --write

apply changelog
  common/changes/@nest-cqrs/core/chore-post-release_2023-01-30-13-41.json
  common/changes/@nest-cqrs/core/chore-pre-release_2023-01-30-12-23.json
  common/changes/@nest-cqrs/core/feat-upgrade-event-builder-factory_2023-01-30-15-59.json
  packages/core/CHANGELOG.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: prettier --write

rush change
  common/changes/@nest-cqrs/core/feat-upgrade-event-builder-factory_2023-01-30-16-05.json
Due: prettier --write

Feat/upgrade event builder factory (#6)
  common/changes/@nest-cqrs/core/chore-pre-release_2023-01-30-12-23.json
  common/changes/@nest-cqrs/core/feat-upgrade-event-builder-factory_2023-01-30-16-05.json
  demo/monolith/src/accounting/accounting.write.service.ts
  packages/core/CHANGELOG.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/core/src/cqrs.utilites.ts
  packages/core/src/cqrs.utilities.spec.ts
  packages/core/src/factories/event-builder.factory.spec.ts
  packages/core/src/factories/event-builder.factory.ts
Due: eslint --fix, prettier --write

add cache to ci
  .github/workflows/pr.yml
Due: none

add cache to ci (#7)
  .github/workflows/pr.yml
Due: none

add fn to parse a generated stream id
  packages/core/src/cqrs.utilites.ts
  packages/core/src/cqrs.utilities.spec.ts
  packages/core/src/index.ts
Due: eslint --fix, prettier --write

add changelogs
  common/changes/@nest-cqrs/core/feat-upgrade-event-builder-factory_2023-01-30-16-05.json
  packages/core/CHANGELOG.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: prettier --write

add changelog
  common/changes/@nest-cqrs/core/feat-parse-stream-id_2023-02-02-15-05.json
Due: prettier --write

Feat/parse stream (#8)
  common/changes/@nest-cqrs/core/feat-parse-stream-id_2023-02-02-15-05.json
  packages/core/CHANGELOG.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/core/src/cqrs.utilites.ts
  packages/core/src/cqrs.utilities.spec.ts
  packages/core/src/index.ts
Due: eslint --fix, prettier --write

init voyager app
  common/config/rush/pnpm-lock.yaml
  demo/voyager/package.json
  demo/voyager/tsconfig.build.json
  demo/voyager/tsconfig.json
  rush.json
Due: prettier --write

Setting up voyager
  demo/voyager/src/app.controller.ts
  demo/voyager/src/app.module.ts
  demo/voyager/src/main.ts
Due: eslint --fix, prettier --write

add version field to interface and update core + monolith
  demo/monolith/src/common/events/account-created.event.ts
  demo/monolith/src/common/events/transaction-applied-to-account.event.ts
  packages/core/src/classes/message-request.class.spec.ts
  packages/core/src/interfaces/event.interface.ts
Due: eslint --fix, prettier --write

feat: simple versioner and event configuration api
  demo/monolith/src/common/events/account-created.event.ts
  demo/monolith/src/common/events/transaction-applied-to-account.event.ts
  packages/core/package.json
  packages/core/src/classes/_base.event-versioner.ts
  packages/core/src/classes/_base.event.ts
  packages/core/src/cqrs.constants.ts
  packages/core/src/cqrs.utilites.ts
  packages/core/src/cqrs.utilities.spec.ts
  packages/core/src/decorators/event-configuration.decorator.ts
  packages/core/src/index.ts
  packages/core/src/interfaces/event-configuration.interface.ts
  packages/core/src/interfaces/event-versioner.interface.ts
  packages/eventstoredb/src/utils/event.parser.spec.ts
  packages/eventstoredb/src/utils/event.parser.ts
Due: eslint --fix, prettier --write

Add changelog
  common/changes/@nest-cqrs/core/feat-versioning_2023-02-14-16-34.json
  common/changes/@nest-cqrs/eventstoredb/feat-versioning_2023-02-14-16-34.json
Due: prettier --write

Version bump
  common/changes/@nest-cqrs/core/feat-parse-stream-id_2023-02-02-15-05.json
  common/changes/@nest-cqrs/core/feat-versioning_2023-02-14-16-34.json
  common/changes/@nest-cqrs/eventstoredb/chore-post-release_2023-01-30-13-41.json
  common/changes/@nest-cqrs/eventstoredb/feat-versioning_2023-02-14-16-34.json
  packages/core/CHANGELOG.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/eventstoredb/CHANGELOG.json
  packages/eventstoredb/CHANGELOG.md
  packages/eventstoredb/package.json
Due: prettier --write

empty changelogs
  common/changes/@nest-cqrs/core/feat-versioning_2023-02-14-16-36.json
  common/changes/@nest-cqrs/eventstoredb/feat-versioning_2023-02-14-16-36.json
Due: prettier --write

Feat/versioning (#9)
  common/changes/@nest-cqrs/core/feat-versioning_2023-02-14-16-36.json
  common/changes/@nest-cqrs/eventstoredb/feat-versioning_2023-02-14-16-36.json
  demo/monolith/src/common/events/account-created.event.ts
  demo/monolith/src/common/events/transaction-applied-to-account.event.ts
  packages/core/CHANGELOG.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/core/src/classes/_base.event-versioner.ts
  packages/core/src/classes/_base.event.ts
  packages/core/src/classes/message-request.class.spec.ts
  packages/core/src/cqrs.constants.ts
  packages/core/src/cqrs.utilites.ts
  packages/core/src/cqrs.utilities.spec.ts
  packages/core/src/decorators/event-configuration.decorator.ts
  packages/core/src/index.ts
  packages/core/src/interfaces/event-configuration.interface.ts
  packages/core/src/interfaces/event-versioner.interface.ts
  packages/core/src/interfaces/event.interface.ts
  packages/eventstoredb/CHANGELOG.json
  packages/eventstoredb/CHANGELOG.md
  packages/eventstoredb/package.json
  packages/eventstoredb/src/utils/event.parser.spec.ts
  packages/eventstoredb/src/utils/event.parser.ts
Due: eslint --fix, prettier --write

bookings for hotels
  demo/voyager/src/app.module.ts
  demo/voyager/src/common/interfaces/hotel-booking.interface.ts
  demo/voyager/src/common/interfaces/voyage.interface.ts
  demo/voyager/src/hotel/booking/booking.module.ts
  demo/voyager/src/hotel/booking/booking.service.ts
  demo/voyager/src/hotel/booking/dto/book-room-for-days.input.ts
  demo/voyager/src/hotel/hotel.module.ts
  demo/voyager/src/voyage/voyage.aggregate.ts
  demo/voyager/src/voyage/voyage.controller.ts
  demo/voyager/src/voyage/voyage.module.ts
  demo/voyager/tests/app.e2e-spec.ts
  demo/voyager/tests/jest-e2e.config.js
  demo/voyager/tests/utilities/ws.client.ts
  demo/voyager/tests/voyage.e2e-spec.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,md,json}
